.itemContainer{
	border:3px solid gray;
	display: flex;
	justify-content: space-between;
	height:55px;
	margin: 5px;
}
.itemContainer *{
	padding:12px;
	font-size:25px;
	width: 25%;
	display: flex;
	justify-content: center;
}
.itemTotal{
	justify-content: flex-end;
}