.listContainer{
	width: 51.5%;
	border:3px solid gray;
	margin: 10px 0px;
}
.priceSum{
	display: flex;
	justify-content: flex-end;
}
.priceSum h1{
	width:18%;
	border:3px solid gray;
	height: 38px;
	margin-right: 2%;
	text-align: center;
}
.itemList{
	display: flex;
	flex-direction: column;
	padding: 10px;
}